// Default Color Palette
// ---------------------------------------------

$white         :    rgb(255,255,255) !default; // #FFFFFF
$black         :    rgb(0,0,0)       !default; // #000000
$soft-black    :    rgb(68, 68, 68)  !default; // #444444

// Copic Greys
// ---------------------------------------------

// Cool Grey
$grey-c00      :    rgb(232,240,243);  // #e8f0f3
$grey-c01      :    rgb(225,233,236);  // #EAEAEA
$grey-c02      :    rgb(218,227,232);  // #E1E1DF
$grey-c03      :    rgb(204,215,221);  // #D3D4CF
$grey-c04      :    rgb(192,203,209);  // #BCBBB9
$grey-c05      :    rgb(146,160,169);  // #A8A7A3
$grey-c06      :    rgb(125,139,150);  // #939391
$grey-c07      :    rgb(99,112,121);  // #777674
$grey-c08      :    rgb(83,93,103);    // #636361
$grey-c09      :    rgb(60,71,77);    // #4c4b49
$grey-c10      :    rgb(33,42,49);    // #332F2E

// Neutral Grey
$grey-n00      :    rgb(237,237,237);  // #EDEDED
$grey-n01      :    rgb(226,227,229);  // #E2E3E5
$grey-n02      :    rgb(218,219,221);  // #DADBDD
$grey-n03      :    rgb(209,210,212);  // #D1D2D4
$grey-n04      :    rgb(188,189,193);  // #BCBDC1
$grey-n05      :    rgb(169,170,174);  // #A9AAAE
$grey-n06      :    rgb(148,149,153);  // #949599
$grey-n07      :    rgb(119,120,124);  // #77787C
$grey-n08      :    rgb(99,100,102);  // #636466
$grey-n09      :    rgb(76,77,79);    // #4C4D4F
$grey-n10      :    rgb(44,45,48);    // #312F32

// Toner Grey
$grey-t00      :    rgb(237,237,237);  // #E8F0F3
$grey-t01      :    rgb(234,234,234);  // #E1E9EC
$grey-t02      :    rgb(225,225,223);  // #DAE3E8
$grey-t03      :    rgb(211,212,207);  // #CCD7DD
$grey-t04      :    rgb(188,187,185);  // #C0CBD1
$grey-t05      :    rgb(168,167,163);  // #92A0A9
$grey-t06      :    rgb(147,147,145);  // #7D8B96
$grey-t07      :    rgb(117,118,119);  // #637079
$grey-t08      :    rgb(99,99,97);    // #535D67
$grey-t09      :    rgb(76,75,73);    // #3C474D
$grey-t10      :    rgb(51,47,46);    // #212A31
