<section id="buttons" class="buttons">
    <header>
        <h1>Buttons</h1>

        <ol class="breadcrumb">
            <li><a href="#buttons">Buttons</a></li>
            <li class="active"><a href="">Primary Action Buttons</a></li>
        </ol>
    </header>

    <kitchensink-codeblock class="primary example">
        <a class="button">
            Primary Action Button
        </a>
        <a class="bare button">
            Bare Primary Action Button
        </a>
        <a class="labeled icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#user"></use>
            </svg>
            With Icon
        </a>
        <a class="icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#bars"></use>
            </svg>
        </a>

        <a class="bare icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#bars"></use>
            </svg>
        </a>

        <br>

        <a class="disabled button">
            Disabled Button
        </a>
        <a class="disabled labeled icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#user"></use>
            </svg>
            Disabled
        </a>
        <a class="disabled icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#bars"></use>
            </svg>
        </a>

        <button class="button">
            Button tag
        </button>
    </kitchensink-codeblock>

    <ol class="breadcrumb">
        <li><a href="#buttons">Buttons</a></li>
        <li class="active"><a href="">Secondary Action Buttons</a></li>
    </ol>

    <kitchensink-codeblock class="secondary example">
        <a class="secondary button">
            Secondary Action Button
        </a>
        <a class="bare secondary button">
            Bare Secondary Action Button
        </a>
        <a class="secondary labeled icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#user"></use>
            </svg>
            With Icon
        </a>
        <a class="secondary icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#bars"></use>
            </svg>
        </a>
        <a class="bare secondary icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#bars"></use>
            </svg>
        </a>

        <br>

        <a class="disabled secondary button">
            Disabled Button
        </a>
        <a class="disabled secondary labeled icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#user"></use>
            </svg>
            Disabled
        </a>
        <a class="disabled secondary icon button">
            <svg viewbox="0 0 2048 2048">
                <use xlink:href="#bars"></use>
            </svg>
        </a>
        <button class="secondary button">
            Button tag
        </button>
    </kitchensink-codeblock>
</section>