<section id="notifications" class="notifications">
    <header>
        <h1>Notifications</h1>

        <ol class="breadcrumb">

            <li><a href="#notifications">Notifications</a></li>
            <li class="active"><a href="">Confirmation</a></li>
        </ol>
    </header>

    <kitchensink-codeblock class="example">
        <uniform-notification class="confirmation">
            <svg viewbox="0 0 2048 2048" class="icon">
                <use xlink:href="#check"></use>
            </svg>
            <section class="message">
                <h1>This is a Confirmation notification</h1>
                <p>
                    Optional notification description. Ideally kept short and concise.
                </p>
            </section>
            <a class="close">
                <svg viewbox="0 0 2048 2048" class="icon">
                    <use xlink:href="#times"></use>
                </svg>
            </a>
        </uniform-notification>

        <uniform-notification class="confirmation">
            <svg viewbox="0 0 2048 2048" class="icon">
                <use xlink:href="#check"></use>
            </svg>
            <section class="message">
                <h1>This is a Confirmation notification</h1>
                <p>
                    But there's  no way of closing this one.
                </p>
            </section>
        </uniform-notification>
    </kitchensink-codeblock>

    <ol class="breadcrumb">

        <li><a href="#notifications">Notifications</a></li>
        <li class="active"><a href="">Alert</a></li>
    </ol>

    <kitchensink-codeblock class="example">
        <uniform-notification class="alert">
            <svg viewbox="0 0 2048 2048" class="icon">
                <use xlink:href="#exclamation-triangle"></use>
            </svg>
            <section class="message">
                <h1>Here's a lovely Alert notification</h1>
            </section>
            <a class="close">
                <svg viewbox="0 0 2048 2048" class="icon">
                    <use xlink:href="#times"></use>
                </svg>
            </a>
        </uniform-notification>

        <uniform-notification class="alert">
            <svg viewbox="0 0 2048 2048" class="icon">
                <use xlink:href="#exclamation-triangle"></use>
            </svg>
            <section class="message">
                <h1>Here's a more permanent Alert notification</h1>
            </section>
        </uniform-notification>
    </kitchensink-codeblock>
</section>