<section id="tooltips" class="tooltips">
    <header>
        <h1>Tooltips</h1>
    </header>

    <kitchensink-codeblock class="example">
        <a class="labeled icon button" data-tooltip="Top Tooltip has a long message in it" data-tooltip-position="top" data-tooltip-alignment="left">
            <svg viewbox="0 0 2048 2048" class="icon">
                <use xlink:href="#question-circle"></use>
            </svg>
            Top Tooltip Button
        </a>

        <a class="labeled icon button" data-tooltip="Bottom Tooltip is shorter" data-tooltip-position="bottom" data-tooltip-alignment="center">
            <svg viewbox="0 0 2048 2048" class="icon">
                <use xlink:href="#question-circle"></use>
            </svg>
            Bottom Tooltip Button
        </a>

        <a class="circular icon button" data-tooltip="Small Tooltip is expanded" data-tooltip-position="bottom" data-tooltip-alignment="right">
            <svg viewbox="0 0 2048 2048" class="icon">
                <use xlink:href="#question-circle"></use>
            </svg>
        </a>
    </kitchensink-codeblock>

</section>