<section id="data_tables">
    <header>
        <h1>Data table</h1>
        <ol class="breadcrumb">
            <li><a href="#data_tables">Data Tables</a></li>
            <li class="active"><a href="">Blank</a></li>
        </ol>
    </header>

    <kitchensink-codeblock class="data-table example">
        <header class="thead">
            <div class="th">
                <div class="column">
                    Time <svg class="active icon">
                        <use xlink:href="#caret-down"></use>
                    </svg>
                </div>
                <div class="column">
                    Name <svg class="icon">
                        <use xlink:href="#caret-up-down"></use>
                    </svg>
                </div>
                <div class="column">
                    Comment <svg class="icon">
                        <use xlink:href="#caret-up-down"></use>
                    </svg>
                </div>
                <div class="action column"></div>
            </div>
        </header>
        <div class="tbody">
            <section class="empty-message">
                <p>We didn't find any content.</p>
            </section>
        </div>
    </kitchensink-codeblock>

    <ol class="breadcrumb">
        <li><a href="#data_tables">Data Tables</a></li>
        <li class="active"><a href="">Populated</a></li>
    </ol>

    <kitchensink-codeblock class="data-table">
        <header class="thead">
            <div class="th">
                <div class="column">
                    DateTime <svg class="active icon">
                        <use xlink:href="#caret-down"></use>
                    </svg>
                </div>
                <div class="column">
                    Name <svg class="icon">
                        <use xlink:href="#caret-up-down"></use>
                    </svg>
                </div>
                <div class="column">
                    Comment <svg class="icon">
                        <use xlink:href="#caret-up-down"></use>
                    </svg>
                </div>
                <div class="action column"></div>
            </div>
        </header>
        <div class="tbody">
            <div class="tr border">
                <div class="column" title="Fri Apr 27 2018 11:07:00 GMT-0700 (Pacific Daylight Time)">
                    Apr 27th, 2018 11:07 am
                </div>
                <div class="column">
                    <a href="#">Eric</a>
                </div>
                <div class="text column">
                    Single action
                </div>
                <div class="action column">
                    <a class="action">
                        <svg class="icon">
                            <use xlink:href="#eye"></use>
                        </svg>
                        <span class="mobile-only">Watch</span>
                    </a>
                </div>
            </div>
            <div class="tr border">
                <div class="column" title="Tue May 01 2018 13:37:00 GMT-0700 (Pacific Daylight Time)">
                    May 1st, 2018 1:37 pm
                </div>
                <div class="column">
                    <a href="#">Eric</a>
                </div>
                <div class="text column">
                    3 actions
                </div>
                <div class="action column">
                    <a class="action">
                        <svg class="icon">
                            <use xlink:href="#eye"></use>
                        </svg>
                        <span class="mobile-only">Watch</span>
                    </a>
                    <a class="action">
                        <svg class="icon">
                            <use xlink:href="#eye"></use>
                        </svg>
                        <span class="mobile-only">Watch</span>
                    </a>
                    <a class="action">
                        <svg class="icon">
                            <use xlink:href="#eye"></use>
                        </svg>
                        <span class="mobile-only">Watch</span>
                    </a>
                </div>
            </div>
            <div class="tr border">
                <div class="column" title="Mon Dec 25 2017 12:02:00 GMT-0800 (Pacific Standard Time)">
                    Jun 3rd, 2018 6:57 pm
                </div>
                <div class="column">
                    Eric
                </div>
                <div class="text column">
                    Maybe more than 4? Dropdown!
                </div>
                <div class="action column">
                    <uniform-select class="desktop-only menu" multiple="false">
                        <select-title class="menu">
                            <svg class="icon" viewBox="0 0 1792 1792">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ellipsis-h"></use>
                            </svg>
                        </select-title>
                        <menu class="right">
                            <item>
                                    <svg class="icon" viewBox="0 0 2048 2048">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pencil"></use>
                                    </svg>
                                    Edit
                            </item>
                            <item>
                                    <svg class="icon" viewBox="0 0 2048 2048">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#users"></use>
                                    </svg>
                                    Users
                            </item>
                            <item>
                                    <svg class="icon" viewBox="0 0 2048 2048">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#files-o"></use>
                                    </svg>
                                    Copy
                            </item>
                            <item>
                                    <svg class="icon" viewBox="0 0 2048 2048">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#trash-o"></use>
                                    </svg>
                                    Delete
                            </item>
                        </menu>
                    </uniform-select>
                    <a class="mobile-only action">
                        <svg class="icon">
                            <use xlink:href="#eye"></use>
                        </svg>
                        <span class="mobile-only">Watch</span>
                    </a>
                    <a class="mobile-only action">
                        <svg class="icon">
                            <use xlink:href="#eye"></use>
                        </svg>
                        <span class="mobile-only">Watch</span>
                    </a>
                    <a class="mobile-only action">
                        <svg class="icon">
                            <use xlink:href="#eye"></use>
                        </svg>
                        <span class="mobile-only">Watch</span>
                    </a>
                    <a class="mobile-only action">
                        <svg class="icon">
                            <use xlink:href="#eye"></use>
                        </svg>
                        <span class="mobile-only">Watch</span>
                    </a>
                </div>
            </div>
            <div class="disabled tr border">
                <div class="column" title="Mon Dec 25 2017 12:02:00 GMT-0800 (Pacific Standard Time)">
                    Dec 25th, 2017 12:02 am
                </div>
                <div class="column">
                    <a href="#">Eric</a>
                </div>
                <div class="text column">
                    Disabled, hide the action menu yourself!
                </div>
                <div class="action column">
                </div>
            </div>
        </div>
    </kitchensink-codeblock>
</section>