<section id="cards">
    <header>
        <h1>Cards</h1>
    </header>

    <ol class="breadcrumb">
        <li><a href="#cards">Cards</a></li>
        <li class="active"><a href="">No-Thumbnail</a></li>
    </ol>

    <div class="uniform-card">
        <img class="profile-photo" src="https://3.files.edl.io/572c/18/07/07/014928-02124735-c96f-4f6e-8a9e-7b06df0b0301.png">
    </div>

    <div class="uniform-card">
        <img class="profile-photo" src="https://3.files.edl.io/1f6a/18/07/07/014937-d80a1eee-c9cd-413d-90d1-27e5716b20ca.png">
    </div>

    <ol class="breadcrumb">
        <li><a href="#cards">Cards</a></li>
        <li class="active"><a href="">Thumbnail</a></li>
    </ol>
        
    <section class="dashboard-card-container">
        <section class="uniform-card thumbnail user-welcome">
            <div class="graphic">
                <img src="https://1.cdn.edl.io/iHaZJGZrtMGucaQgsQEL5iSC7AWw7cu7CFwS4JJRTg6VOxm1.jpg">
            </div>
            <div>
                <div class="card-title">Welcome</div>
                <div class="card-title">Mary!</div>
            </div>
        </section>

        <div class="uniform-card thumbnail">
            <div class="graphic">
                <svg viewBox="0 0 2048 2048">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#users"></use>
                </svg>
            </div>
            <aside class="details">
                <div class="card-title">Contact Lists</div>
                <div>24208 Contacts Saved</div>
            </aside>
        </div>

        <div class="uniform-card thumbnail">
            <div class="graphic">
                <svg viewBox="0 0 2048 2048">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#eye"></use>
                </svg>
            </div>
            <aside class="details">
                <div class="card-title">User Stats</div>
                <div>40 Users logged into admin site in last 30 days</div>
            </aside>
        </div>
    </section>

    <ol class="breadcrumb">
        <li><a href="#cards">Cards</a></li>
        <li class="active"><a href="">Info</a></li>
    </ol>

    <div class="uniform-card info">
        <svg viewBox="0 0 2048 2048">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#info-circle"></use>
        </svg>
        <div>
        Announce Messages containing more than 160 characters will be concatenated. This means that recipients will receive more than one message.
        </div>
    </div>
</section>