                <!-- <section class="flex-layouts">
                    <h1>Flex Layouts</h1>

                    <p>
                        The Flex Grid is infinitely nestable. For basic grid functionality, just add <code>@extend %layout</code> to a container and add elements inside. The grid will default to creating columns out of each item added inside the grid container.
                    </p>

                    <p>
                        To create a left sidebar, simply add class <code>.sidebar</code> to whichever cell you'd like to function as a sidebar. For a right-aligned sidebar, use class <code>.right.sidebar</code>.
                    </p>

                    <section class="example-1">
                        <aside class="sidebar">
                            Left Sidebar
                        </aside>

                        <section class="workspace">
                            <div class="cell">
                                Cell
                            </div>
                            <div class="cell">
                                Cell
                            </div>
                        </section>
                    </section>

                    <section class="example-2">
                        <section class="workspace">
                            <div class="cell">
                                Cell
                            </div>
                            <div class="cell">
                                Cell
                            </div>
                            <div class="cell">
                                Cell
                            </div>
                            <div class="cell">
                                Cell
                            </div>
                        </section>

                        <aside class="right sidebar">
                            Right Sidebar
                        </aside>
                    </section>

                    <section class="example-3">
                        <aside class="sidebar">
                            Left Sidebar
                        </aside>

                        <section class="workspace">
                            <div class="cell">
                                Cell
                            </div>
                            <div class="cell">
                                Cell
                            </div>
                            <div class="cell">
                                Cell
                            </div>
                        </section>

                        <aside class="right sidebar">
                            Right Sidebar
                        </aside>
                    </section>

                    <section class="example-4">
                        <aside class="sidebar">
                            <div class="row">
                                <div class="cell">
                                    Cell
                                </div>
                                <div class="cell">
                                    Cell
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    Cell
                                </div>
                                <div class="cell">
                                    Cell
                                </div>
                            </div>
                        </aside>

                        <section class="workspace">
                            <div class="row">
                                <div class="cell">
                                    Cell
                                </div>
                                <div class="cell">
                                    Cell
                                </div>
                                <div class="cell">
                                    Cell
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    Cell
                                </div>
                                <div class="cell">
                                    Cell
                                </div>
                                <div class="cell">
                                    Cell
                                </div>
                                <div class="cell">
                                    Cell
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    Cell
                                </div>
                                <div class="cell">
                                    Cell
                                </div>
                            </div>
                        </section>

                        <aside class="right sidebar">
                            Right Sidebar
                        </aside>
                    </section>

                </section> -->
