<!-- <section class="grid">
    <h1>Flex Grid</h1>

    <section>
        <h1>Grid View</h1>
        <div class="grid list">
            <figure>
                <svg viewbox="0 0 2048 2048">
                    <use xlink:href="#calendar"></use>
                </svg>
                <figcaption>
                    Here is a grid item
                </figcaption>
            </figure>
            <figure>
                <svg viewbox="0 0 2048 2048">
                    <use xlink:href="#user"></use>
                </svg>
                <figcaption>
                    Here is a grid item
                </figcaption>
            </figure>
            <figure>
                <svg viewbox="0 0 2048 2048">
                    <use xlink:href="#user"></use>
                </svg>
                <figcaption>
                    Here is a grid item
                </figcaption>
            </figure>
            <figure>
                <svg viewbox="0 0 2048 2048">
                    <use xlink:href="#user"></use>
                </svg>
                <figcaption>
                    Here is a grid item
                </figcaption>
            </figure>
            <figure>
                <svg viewbox="0 0 2048 2048">
                    <use xlink:href="#user"></use>
                </svg>
                <figcaption>
                    Here is a grid item
                </figcaption>
            </figure>
            <figure>
                <svg viewbox="0 0 2048 2048">
                    <use xlink:href="#user"></use>
                </svg>
                <figcaption>
                    Here is a grid item
                </figcaption>
            </figure>
        </div>
    </section>

</section> -->
