<section class="accordions">
    <header>
        <h1>Accordions</h1>

        <ol class="breadcrumb">

            <li><a href="#accordions">Accordions</a></li>
            <li class="active"><a href="">Standard</a></li>
        </ol>
    </header>

    <section class="example description">
        <p>
            The accordion component is mainly functional; Styling should be added
            on a case-by-case basis as the component could be used in many
            different contexts.
        </p>

        <p>
            The styling and animations seen here are simply for display purposes in the Kitchen Sink.
        </p>
    </section>

    <div class="example">
        <uniform-accordion multiple>
            <section>
                <header>
                    Accordion Header
                    <svg viewbox="0 0 2048 2048" class="icon">
                        <use xlink:href="#caret-down">
                        </use>
                    </svg>
                </header>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sapiente dicta maxime? Consequuntur
                    eum fugit nesciunt incidunt sed, laboriosam necessitatibus reiciendis animi quasi explicabo at ad
                    excepturi recusandae libero dignissimos.
                </div>
            </section>
            <section>
                <header>
                    Accordion Header
                    <svg viewbox="0 0 2048 2048" class="icon">
                        <use xlink:href="#caret-down">
                        </use>
                    </svg>
                </header>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sapiente dicta maxime? Consequuntur
                    eum fugit nesciunt incidunt sed, laboriosam necessitatibus reiciendis animi quasi explicabo at ad
                    excepturi recusandae libero dignissimos.
                </div>
            </section>
            <section>
                <header>
                    Accordion Header
                    <svg viewbox="0 0 2048 2048" class="icon">
                        <use xlink:href="#caret-down">
                        </use>
                    </svg>
                </header>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sapiente dicta maxime? Consequuntur
                    eum fugit nesciunt incidunt sed, laboriosam necessitatibus reiciendis animi quasi explicabo at ad
                    excepturi recusandae libero dignissimos.
                </div>
            </section>
        </uniform-accordion>
    </div>

    <ol class="breadcrumb">

        <li><a href="#accordions">Accordions</a></li>
        <li class="active"><a href="">Collapsing</a></li>
    </ol>

    <div class="example">
        <uniform-accordion>
            <section>
                <header>
                    Accordion Header
                    <svg viewbox="0 0 2048 2048" class="icon">
                        <use xlink:href="#caret-down">
                        </use>
                    </svg>
                </header>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sapiente dicta maxime? Consequuntur
                    eum fugit nesciunt incidunt sed, laboriosam necessitatibus reiciendis animi quasi explicabo at ad
                    excepturi recusandae libero dignissimos.
                </div>
            </section>
            <section>
                <header>
                    Accordion Header
                    <svg viewbox="0 0 2048 2048" class="icon">
                        <use xlink:href="#caret-down">
                        </use>
                    </svg>
                </header>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sapiente dicta maxime? Consequuntur
                    eum fugit nesciunt incidunt sed, laboriosam necessitatibus reiciendis animi quasi explicabo at ad
                    excepturi recusandae libero dignissimos.
                </div>
            </section>
            <section>
                <header>
                    Accordion Header
                    <svg viewbox="0 0 2048 2048" class="icon">
                        <use xlink:href="#caret-down">
                        </use>
                    </svg>
                </header>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sapiente dicta maxime? Consequuntur
                    eum fugit nesciunt incidunt sed, laboriosam necessitatibus reiciendis animi quasi explicabo at ad
                    excepturi recusandae libero dignissimos.
                </div>
            </section>
        </uniform-accordion>
    </div>
</section>