 <!-- Build separate system that allows any element to be a drawer -->
<!-- Should provide horizontal and vertical drawers that come in from all sides -->
<section class="drawers" id="drawer">
    <header>
        <h1>Drawer Menu</h1>
    </header>
    <div class="example">
        <a class="button" id="drawer-opener">
            Open Drawer Menu
        </a>
    </div>

    <script>
        (function() {
            document.getElementById('drawer-opener')
                .addEventListener('click', function() {
                    document.getElementById('main-menu')
                        .open();
                });
        })();
    </script>
</section>