<section id="pagination">
    <header>
        <h1>Pagination</h1>
    </header>
    <div class="mobile pagination example">
        <a class="disabled skip secondary button"><span class="arrow">&laquo;</span></a>
        <div class="button-bar">
            <a class="disabled secondary button"><span class="arrow">&lsaquo;</span></a>
            <a class="active secondary button">1</a>
            <a class="secondary button">2</a>
            <a class="secondary button">3</a>
            <a class="secondary button">4</a>
            <a class="secondary button">5</a>
            <a class="secondary button"><span class="arrow">&rsaquo;</span></a>
        </div>
        <a class="skip secondary button"><span class="arrow">&raquo;</span></a>
    </div>

    <div class="desktop pagination example">
        <a class="disabled skip secondary button"><span class="arrow">&laquo;</span><span>10</span></a>
        <div class="button-bar">
            <a class="disabled secondary button"><span class="arrow">&lsaquo;</span></a>
            <a class="active secondary button">1</a>
            <a class="secondary button">2</a>
            <a class="secondary button">3</a>
            <a class="secondary button">4</a>
            <a class="secondary button">5</a>
            <a class="secondary button">6</a>
            <a class="secondary button">7</a>
            <a class="secondary button">8</a>
            <a class="secondary button">9</a>
            <a class="secondary button">10</a>
            <a class="ellipsis secondary button">...</a>
            <a class="secondary button">43</a>
            <a class="secondary button"><span class="arrow">&rsaquo;</span></a>
        </div>
        <a class="skip secondary button"><span>10</span><span class="arrow">&raquo;</span></a>
    </div>
</section>