// COMPONENT : Uploader

uniform-uploader {

	width: 100%;

	.drop-area {
		@extend %flexbox;
		@include justify-content(center);
		@include align-items(center);
		width: 100%;
		border: 3px dashed #C7C7C7;
		border-radius: 6px;
		background:	transparent;

		.drag-message {
			position: relative;
			margin: 1.5em 0;

			svg {
				display: block;
				margin: 0 auto;
				width: 4em;
				fill: grey;
			}

			.file-upload-button {
				color: #29abe2;
				cursor: pointer;
			}

			.picker-container {
				display: none;
				position: absolute;
				z-index: 1;
				background: #FFFFFF;

				&.open {
					display: block;
				}

				.picker {
					@extend %flexbox;
					@include align-items(center);
					height: 50px;
					padding-right: 10px;
					border: solid 1px grey;
					cursor: pointer;

					svg {
						width: 1.5em;
						margin: 0 10px;
						fill: blue;
					}

					&.disabled {
						background: grey;
						cursor: default;
					}
				}
			}
		}
	}
}